		<div class="nav-app">
            <ul class="nav nav-tabs ">
                <li role="presentation" class="app-icon">
                    <img src="{{ asset('bundles/flowercore/images/icons/CustomerSupport-100.png') }}" class="img-responsive">
                </li>
                <li role="presentation" 
                {% if app_calls is defined %}class="active"{% endif %}
                >
                    <a href="{{ path('callevent') }}">{{ '%entity% list'|trans({'%entity%': 'CallEvent'}, 'CallEvent') }}</a>
                </li>
                <li role="presentation" {% if app_call_planner is defined %}class="active"{% endif %}
                >
                    <a href="{{ path('callevent_planner') }}">{{ 'calls planner'|trans({}, 'CallEvent') }}</a>
                </li>
            </ul>
        </div>