{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% edit'|trans({'%entity%': 'CallEvent'}, 'CallEvent') }} - {{ parent() }}{% endblock %}

{% block app_menu %}
    {{ include("FlowerClientsBundle::appnav-postventa.html.twig", { 'app_calls': true }) }}
{% endblock %}

{% block body %}
    <section class="content-header">
        <h1>{{ 'call edit'|trans|title }}</h1>
    </section>
    <section class="content">
        {{ include("FlowerClientsBundle::appnav-postventa.html.twig", { 'app_calls': true }) }} 
        <div class="box">
            <div class="box-header">
            </div>
            <div class="box-body">

            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
            {{ form_end(edit_form) }}
            </div>
        </div>
    </section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(edit_form) }}
{% endblock %}