{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% edit'|trans({'%entity%': 'Contact'}, 'Contact') }} - {{ parent() }}{% endblock %}

{% block body %}
    <section class="content">    
        {{ include("FlowerClientsBundle::appnav.html.twig", { 'app_contact': true }) }} 
        <div class="box" id="showContact">
            {% if contact.accounts | length > 0  %}
                <div class="box-small-nav">
                    >
                    <a href="{{ path('account_show',{id:contact.accounts[0].id}) }}"> {{ contact.accounts[0]}}</a>
                </div>
            {% endif %}
            <div class="box-header">
                <h3 class="box-title">
                    {{ contact.happyname | trans({}, 'Contact')}}
                </h3>
                <div class="box-tools">
                    {{ form_start(delete_form) }}
                    {{ form_widget(delete_form) }}

                    <div class="btn-group record_actions">

                        <button class="btn btn-link btn-sm" type="submit">{{ 'Delete'|trans({}, 'Contact') }}</button>
                        <a class="btn btn-link  btn-sm" onclick="showEdit(true)">
                            {{ 'Edit'|trans({}, 'Account') }}
                        </a>

                    </div>

                    <input name="modal" type="hidden" value="0">
                    {{ form_end(delete_form) }}

                    <div id="delete_confirm" class="modal fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h3>{{ 'Confirm delete'|trans({}, 'Contact') }}</h3>
                                </div>
                                <div class="modal-body">
                                    <p>{{ 'You are about to delete an item'|trans({}, 'Contact') }}, {{ 'this procedure is irreversible'|trans({}, 'Contact') }}.</p>
                                    <p>{{ 'Do you want to proceed?'|trans({}, 'Contact') }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger">{{ 'Yes'|trans({}, 'Contact') }}</button>
                                    <button class="btn btn-default" data-dismiss="modal">{{ 'No'|trans({}, 'Contact') }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-hover record_properties">
                    <tbody>
                        <tr>
                            <th scope="row">{{'Firstname'|trans({}, 'Contact')}}</th>
                            <td>{{ contact.firstname | capitalize }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{'Lastname'|trans({}, 'Contact')}}</th>
                            <td>{{ contact.lastname | capitalize}}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{'Email'|trans({}, 'Contact')}}</th>
                            <td>{{ contact.email }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{'Observations'|trans({}, 'Contact')}}</th>
                            <td>{{ contact.observations }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{'Address'|trans({}, 'Contact')}}</th>
                            <td>{{ contact.address }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{'Phone'|trans({}, 'Contact')}}</th>
                            <td>{{ contact.phone }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{'Created'|trans({}, 'Contact')}}</th>
                            <td>{{ contact.created|date('fullDateTime'|trans) }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{'Updated'|trans({}, 'Contact')}}</th>
                            <td>{{ contact.updated|date('fullDateTime'|trans) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box-footer">

            </div>
        </div>
        <div  class="box"  id="editFormContact" style="display: none;">
            <div class="box-body">
                <div class="box-header">
                    <div class="box-tools">
                        <div class="btn-group record_actions">
                            <a class="btn btn-link  btn-sm" onclick="showEdit(false)">
                            {{ 'Cancel'|trans({}, 'Account') }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    {{ form_start(edit_form) }}
                        {{ form_widget(edit_form) }}
                        <p>
                            <button class="btn btn-default" type="submit"> {{ 'save'|trans() |capitalize}}</button>
                        </p>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function showEdit(show){
            if(show){
                $("#showContact").hide();
                $("#editFormContact").show();
            }else{
                $("#showContact").show();
                $("#editFormContact").hide();
            }
        }
        
    </script>
{% endblock %}