{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% edit'|trans({'%entity%': 'Account'}, 'Account') }} - {{ parent() }}{% endblock %}

{% block body %}
    <section class="content">
        {{ include("FlowerClientsBundle::appnav.html.twig", { 'app_account': true }) }} 
        <div class="box">
            <div class="box-header">
            </div>
            <div class="box-body">

            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <p>
                    <button class="btn btn-default" type="submit"><i class="fa fa-edit"></i> {{ 'Save'|trans({}, 'Account') }}</button>
                </p>
            {{ form_end(edit_form) }}
            </div>
        </div>
    </section>
{% endblock %}


