{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% list'|trans({'%entity%': 'Account'}, 'Account') }} - {{ parent() }}{% endblock %}
{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href="{{ path('account_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'Account')}} <i class="fa fa-sort-down"></i></a>
                {% elseif sort.type == 'ASC' %}
                <a href="{{ path('account_sort', {field: field, type: 'DESC'}) }}">{{ label | trans({},'Account')}} <i class="fa fa-sort-up"></i></a>
                {% endif %}
            {% else %}
            <a href="{{ path('account_sort', {field: field, type: 'ASC'}) }}">{{ label | trans({},'Account')}} <i class="fa fa-sort"></i></a>
            {% endif %}
        {% endspaceless %}
    {% endmacro %}

{% from _self import thead %}


{% block body %}
    <section class="content">    
        {{ include("FlowerClientsBundle::appnav.html.twig", { 'app_account': true }) }} 
        <div class="box">
            <div class="box-header">
                <h3 class="box-title"></h3>
                <div class="box-tools pull-right">
                    <a class="btn btn-link btn-sm" href={{ path('account_new') }}>
                        <i class="fa fa-plus"></i> {{ 'Create a new %entity%'|trans({'%entity%': 'Account'}, 'Account') }}
                    </a>
                    <div class="btn-group">
                        <button class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown" type="button">
                            <i class="fa fa-download"></i> {{ '%entity%'|trans({'%entity%': 'Export'}, 'Account') }}
                        </button>
                        <ul class="dropdown-menu" style="min-width: inherit;">
                            <li>
                                <a class="btn btn-link btn-sm" href={{ path('account_export' , {'page':paginator.currentPageNumber})}} style="color:#CC3E32;">
                                    {{ 'This %entity%'|trans({'%entity%': 'Page'}, 'Account') }}
                                </a>
                            </li>
                            <li>
                                <a class="btn btn-link btn-sm" href={{ path('account_export') }} style="color:#CC3E32;">
                                    {{ 'All %entity%'|trans({'%entity%': 'Pages'}, 'Account') }}
                                </a>
                            </li> 
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                <div class="btn-group">
                    <div class="panel-heading">               
                        <button type="button" class="btn btn-default btn-sm filter collapsed" data-toggle="collapse" data-target="#filter">{{'filter'|trans| capitalize }} <i class="fa fa-filter"></i> </button>
                    </div>
                </div>
                {% set open = "" %}
                {% if activityFilter |length > 0 %}
                    {% set open = "in" %}
                {% endif %}
                <div id="filter" class="collapse {{open}} row filters-content">
                    <form method="get" action="" class=" form-horizontal">
                        <div  class="col-sm-6" >
                            <div class="form-group">
                                <label class="col-sm-2 control-label " for="activityFilter">{{'Activity' | trans}}</label>
                                <div class="col-sm-8">
                                    {% set multiple = "" %}
                                    {% set icon = "ion-plus-circled" %}
                                    {% if activityFilter |length > 1 %}
                                        {% set  multiple = "multiple='true'" %}
                                        {% set icon = "ion-ios-minus-outline" %}
                                    {% endif %}
                                    <select id="activityFilter" name="activityFilter[]" {{multiple}} class="form-control">
                                        <option value=""></option>
                                        {% set  selected = "" %}
                                        {% if "-1" in activityFilter %}
                                            {% set  selected = "selected" %}
                                        {% endif %}
                                        <option value="-1" {{selected}}> {{'Not Assignee' | trans}}</option>
                                        {% for activity in activities %}
                                            {% set  selected = "" %}
                                            {% if activity.id in activityFilter %}
                                                {% set  selected = "selected" %}
                                            {% endif %}
                                            <option value="{{activity.id}}" {{selected}}>{{activity.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                                <div class="col-sm-1">
                                    <span class="cursor-pointer text-left  ionicons {{icon}}" style="margin-top: 8px;" onclick="toogleSelect(activityFilter,this)"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=" col-sm-9">
                                    <a class="btn btn-default btn-sm" href="{{ path('account') }}?reset"><i class="fa fa-times"></i> {{'clean' | trans | capitalize}}</a>
                                    <button class="btn btn-primary btn-sm" type="submit">{{'apply' | trans | capitalize}}</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="col-sm-2 control-label " for="accountAssigneeFilter">{{'Assignee' | trans}}</label>
                                <div class="col-sm-8">
                                    {% set multiple = "" %}
                                    {% set icon = "ion-plus-circled" %}
                                    {% if accountAssigneeFilter |length > 1 %}
                                        {% set  multiple = "multiple='true'" %}
                                        {% set icon = "ion-ios-minus-outline" %}
                                    {% endif %}
                                    <select id="accountAssigneeFilter" name="accountAssigneeFilter[]" {{multiple}} class="form-control">
                                        <option value=""></option>
                                        {% set  selected = "" %}
                                        {% if "-1" in accountAssigneeFilter %}
                                            {% set  selected = "selected" %}
                                        {% endif %}
                                        <option value="-1" {{selected}}> {{'Not Assignee' | trans}}</option>
                                        {% for user in users %}
                                            {% set  selected = "" %}
                                            {% if user.id in accountAssigneeFilter %}
                                                {% set  selected = "selected" %}
                                            {% endif %}
                                            <option value="{{user.id}}" {{selected}}>{{user.happyname}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                                <div class="col-sm-1">
                                    <span class="cursor-pointer text-left  ionicons {{icon}}" style="margin-top: 8px;" onclick="toogleSelect(accountAssigneeFilter,this)"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-body">    
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th scope="col">{{ thead('account', 'id', 'id') }}</th>
                            <th scope="col">{{ thead('account', 'name', 'Name') }}</th>
                            <th scope="col">{{ thead('account', 'businessName', 'Business name') }}</th>
                            <th scope="col">{{ thead('account', 'u.username', 'Assignee') }}</th>
                            <th scope="col">{{ thead('account', 'phone', 'Phone') }}</th>
                            <th scope="col">{{ thead('account', 'address', 'Address') }}</th>
                            <th scope="col">{{ thead('account', 'cuit', 'cuit') }}</th>
                            <th scope="col">{{ thead('account', 'ac.name', 'Activity') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for account in paginator %}
                            <tr>
                                <td><a href="{{ path('account_show', {id: account.id}) }}">{{ account.id }}</a></td>
                                <td><a href="{{ path('account_show', {id: account.id}) }}">{{ account.name }}</a></td>
                                <td>{{ account.businessName }}</td>
                                <td>{{ account.assignee }}</td>
                                <td>{{ account.phone }}</td>
                                <td>{{ account.address }}</td>
                                <td>{{ account.cuit }}</td>
                                <td>{{ account.activity | capitalize}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {{ knp_pagination_render(paginator) }}
            </div>
            <div class="box-footer">

            </div>

    </section>        

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">

        function selectAll(parent){
            $(".bulk input.bulk-check").attr("checked",parent.checked);
        }
        function toogleSelect (element, me) {
            var multiple = $(element).attr("multiple");
            if(multiple === undefined){
                $(element).attr("multiple",true);
                $(me).addClass("ion-ios-minus-outline")
                $(me).removeClass("ion-plus-circled")
            }else{
                $(element).removeAttr("multiple");
                $(me).removeClass("ion-ios-minus-outline")
                $(me).addClass("ion-plus-circled")
            }
        }

        function CopyMe(oFileInput, sTargetID) {
            document.getElementById(sTargetID).value = oFileInput.value;
        }
    </script>
{% endblock %}
