{% extends "FlowerCoreBundle::layout.html.twig" %}

{% block title %}{{ '%entity% creation'|trans({'%entity%': 'Account'}, 'Account') }} - {{ parent() }}{% endblock %}

{% block body %}
    <section class="content">
        {{ include("FlowerClientsBundle::appnav.html.twig", { 'app_account': true }) }} 
        <div class="box">
            <div class="box-header">
            </div>
            <div class="box-body">
                {{ form_start(form, {action: path('account_create')}) }}
                    {{ form_widget(form) }}
                    <p>
                        <button class="btn btn-default" type="submit">{{ 'Create'|trans({}, 'Account') }}</button>
                    </p>
                {{ form_end(form) }}
            </div>
            <div class="box-footer">  
                <div class="btn-group record_actions">
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
{% endblock %}